---
import { MENU_ITEMS } from '../share/constants';
import teslaLogo from '/tesla_logo.svg';
---

<header
	class='h-16 w-full px-8 flex justify-between items-center fixed z-10 text-white'>
	<div class='w-fit'>
		<img src={teslaLogo} alt='tesla logo' class='w-32' />
	</div>
	<nav>
		<ul
			class='flex justify-between items-center [&>li>a]:capitalize [&>li>a]:px-3 [&>li>a]:text-sm'>
			{
				MENU_ITEMS.CENTER.map((item) => (
					<li>
						<a href={item.to}>{item.label}</a>
					</li>
				))
			}
		</ul>
	</nav>
	<nav>
		<ul
			class='flex justify-between items-center [&>li>a]:capitalize [&>li>a]:px-3 [&>li>a]:text-sm'>
			{
				MENU_ITEMS.LEFT.map((item) => (
					<li>
						<a href={item.to}>{item.label}</a>
					</li>
				))
			}
		</ul>
	</nav>
</header>
